/* body*/
body {
  color: #333;
  font-size: 17px;
  margin: 0;
  height: 100%;  
  font-family:cambria;  
}

.header {
	background-color: #FFFFFF;
  padding: 5px;
  text-align: center;
}

.header img {
  width: 50%;
  height: auto;
}

/*NAVBAR*/
.navbar-block { /*la navbar che contine i blocchi*/
	display: flex;
  color: #333;
  background-color: #A52A2A; /* Colore di sfondo del blocco */
  padding: 12px 24px;        /* Spazio interno: definisce l'altezza e la larghezza del blocco */
  font-weight: bold;
  border-radius: 6px;        /* Angoli leggermente arrotondati per ogni blocco */
  /* Rende l'animazione dell'hover fluida */
}

.block { /*i blocchi della navbar*/
	box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Una leggera ombra per staccare il blocco dallo sfondo */
  transition: all 0.3s ease; 
  display: flex;
  color: #FAEBD7;
  background-color: #A52A2A; /* Colore di sfondo del blocco */
  padding: 12px 24px;        /* Spazio interno: definisce l'altezza e la larghezza del blocco */
  font-weight: bold;
  border-radius: 6px;  
  text-decoration: none;
}

/* Effetto al passaggio del mouse (Hover) */
.block:hover {
  background-color: #8B0000; /* Il blocco diventa blu */
  color: #FAEBD7;            /* Il testo diventa bianco */
  transform: translateY(-1px); /* Il blocco si solleva leggermente */  
}

/*dropdown menu*/
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

/* Bottone VISITA PER */
.dropbtn {
  background-color: #A52A2A;
  color: #FAEBD7;
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-family: cambria;
  font-size:17px;
}

/* Hover del bottone */
.dropbtn:hover {
  background-color: #8B0000;
}

/* Contenuto del menu */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* sotto il bottone */
  left: 0;
  background-color: white;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 10; /*l’ordine di sovrapposizione degli elementi: un valore più alto porta l’elemento davanti, uno più basso lo manda dietro.*/
}

/* Link dentro il menu */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover sui link */
.dropdown-content a:hover {
  background-color: #FAEBD7;
  border-radius: 6px;
}



/* Mostra il menu al passaggio */
.dropdown:hover .dropdown-content {
  display: block;/*un elemento occupa tutta la larghezza disponibile e va a capo, iniziando sempre su una nuova riga*/
}


/* Stato attivo (la pagina in cui si trova l'utente) */
.block.active {
  background-color: #333;
  color: #fff;
}

/*HEROSECTION*/
.hero-section {
	background-image: url('../img/villaRotondaprogetto4.jpg');
	background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
  padding: 260px;
	position:relative;

}
.barra {
	background-color: rgba(255, 255, 255, 0.9); /* colore + trasparenza */
  width: 100%;
  height:auto;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 0; /* la barra sta sotto */
	left: 0;
}

.barra img {
	width: 50%;
  height: auto;
 
}

.hero-button {
	text-decoration: none;
  background-color: #A52A2A;
  color: #FAEBD7;
  text-align: center;
  padding: 10px;
  border-radius: 8px; /*rotondità degli angoli*/
  font-size: 18px;
  font-weight: bold;
  margin-top: auto; /* Allinea il bottone in fondo alla card */
  transition: background-color 0.2s;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #8B0000;
}

/*IL PROGETTO*/

.project {
	background-color: #A52A2A;
	color:#FAEBD7;
	padding: 40px 20px;
	font-size: 18px
}

.project-text {
	margin-right: 50px;
  margin-left: 50px;
}

.project a {
  color: #FAEBD7;
}

/*INIZIA LA VISITA*/
.visita {
	background-color: #FAEBD7;
	color:#A52A2A;	
  padding: 20px 10px;
  margin-top: 30px;
}

.visita-text {
  text-align: center;
  font-size: 18px
}

.tab-index{
	display: flex; /*attiva la griglia*/ 
  gap: 15px; /* Spazio di separazione tra le card */
  text-align: center;
	justify-content: center;   /* centra orizzontalmente */
}

.colonna-button{
	flex: 1;            /* ogni colonna occupa lo stesso spazio */
	background: #f2f2f2;
	padding: 5px;
	border-radius: 8px;
	background-color:#A52A2A;
	text-decoration: none;
  color: #FAEBD7;
  text-align: center;
  padding: 12px;
  border-radius: 8px; /*rotondità degli angoli*/
  font-size: 17px;
  font-weight: bold;    
  transition: background-color 0.2s;
  cursor: pointer;
}

.colonna-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* PAGINA CATALOGO */
.cat-text {
	padding: 40px 40px;
  background-color: #FAEBD7;
  font-size: 20px;
}

.visita-per {
  display: flex;
  padding: 40px 20px;
  gap: 25px;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.button-visita {
  text-decoration: none;
  background-color: #A52A2A;
  color: #FAEBD7;
  text-align: center;
  padding: 10px;
  border-radius: 8px; /*rotondità degli angoli*/
  font-size: 18px;
  font-weight: bold;
  margin-top: auto; /* Allinea il bottone in fondo alla card */
  transition: background-color 0.2s;
  cursor: pointer;
}

.button-visita:hover {
  background-color: #8B0000;
}

/* Griglia del Catalogo (Flexbox) */
.catalogo-container {
	display: grid; /*attiva la griglia*/
	grid-template-columns: repeat(2, auto); 
  gap: 20px 150px; /* verticale - orizzontale */
  justify-content: center;
}

/* Struttura della singola Card */
.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Impedisce all'immagine di uscire dagli angoli arrotondati */
  width: 600px; /* Larghezza fissa per ogni card */
  height: auto;
  display: flex;
  margin-bottom:10px;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effetto al passaggio del mouse (Hover) */
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Gestione dell'Immagine */
.card-image img {
  width: 100%;
  height: 340px;
  object-fit: cover; /* Ritaglia l'immagine proporzionalmente senza distorcerla */
  display: block; /*per mandare a capo*/
}

/* Contenuto testuale */
.card-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Spinge il bottone sempre in fondo se i testi hanno lunghezze diverse */
}

.card-title {
  font-size: 25px;
  color: #333;
  margin-bottom: 12px;
}

.card-text {
  font-size: 19px;
  color: #666;    
  margin-bottom: 24px;
}

/* Bottone della Card */
.card-button {
  text-decoration: none;
  background-color: #A52A2A;
  color: #FAEBD7;
  text-align: center;
  padding: 12px;
  border-radius: 8px; /*rotondità degli angoli*/
  font-size: 14px;
  font-weight: bold;
  margin-top: auto; /* Allinea il bottone in fondo alla card */
  transition: background-color 0.2s;
}

.card-button:hover {
  background-color: #8B0000;
}



/*LA ROTONDA*/
.titolo-rotonda {
	color: #333;
	font-size: 17px;
	margin: 0;
	height: 100%;
	padding:10px;
	font-family:cambria;  
	text-align: center;
}

.foto-rotonda {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: right; /* Centra l'immagine orizzontalmente */
}

.foto-rotonda img {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 20px;
}

.tabella-rotonda {
  display: flex; /*attiva la griglia*/ 
    gap: 5px; /* Spazio di separazione tra le card */
    text-align: center;
    margin-left:auto;
    max-width: 1220px
}

.colonna-rotonda {
  flex: 1;            /* ogni colonna occupa lo stesso spazio */
  background: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px; 
  margin-bottom: 10px;
  margin-top:10px;
}

.mappa {
  width: 75%;
  height: auto;
}

.sidebar{
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebutton {
  text-decoration: none;
  background-color: #FAEBD7;
  color: #A52A2A;
  text-align: center;
  padding: 10px;
  border-radius: 8px; /*rotondità degli angoli*/
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s;
  cursor: pointer;
}
.colonne-prologo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.foto-prologo {
  height: auto;
  width: 100%;
}

/*FOOTER*/
.credits {
	background-color: #f1f1f1;
  font-size: 17px;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.copyright {
	background-color: #444;
  color: #ddd;
  font-size: 17px;
  padding: 20px;
  text-align: center;
}

/*DATI*/
.titolo-tabella {
  margin:10px;
}
.tabella-5x11 {
  width: auto;
  border-collapse: collapse;
  font-family: cambria;
  margin:10px;
}

.tabella-5x11 th,
.tabella-5x11 td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabella-5x11 thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabella-5x11 tbody tr:nth-child(even) {
  background-color: #fafafa;
}